<form class="form-horizontal" name="newEmployeeForm">
    <div class="form-group">
        <label for="name" class="col-sm-1 control-label">Name</label>
        <div class="col-xs-6 col-sm-4">
            <input type="text" class="form-control" id="name" placeholder="Jane Doe" ng-model="name" required>
        </div>
    </div>

    <div class="form-group">
        <label for="exampleEmail" class="col-sm-1 control-label">Email</label>
        <div class="col-xs-6 col-sm-4">
            <input type="text" class="form-control" id="exampleEmail" placeholder="someone@example.com" ng-model="email"  required>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-1 control-label">Password</label>
        <div class="col-xs-6 col-sm-4">
            <input type="text" class="form-control" id="password" placeholder="abc123!@#" ng-model="password" required>
        </div>
    </div>

    <div class="form-group">
        <label for="department" class="col-sm-1 control-label">Department</label>
        <div class="col-xs-6 col-sm-4">
            <input type="text" class="form-control" id="department" placeholder="Infrastructure" ng-model="department" required>
        </div>
    </div>

    <div class="form-group">
        <label for="manager" class="col-sm-1 control-label">Manager</label>
        <div class="col-xs-6 col-sm-4">
            <input type="text" class="form-control" id="manager" placeholder="manager@example.com" ng-model="manager" required>
        </div>
    </div>

    <div class="form-group">
        <label for="role" class="col-sm-1 control-label">Rol</label>
        <div class="col-xs-6 col-sm-4">
            <input type="text" class="form-control" id="role" placeholder="User" ng-model="role" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-1 control-label">Hire date</label>
        <div class="col-sm-4">
            <div class="input-group date" ng-model="hireDate" date-picker>
                <input type="text" class="form-control netto-input" ng-model="hireDate" date-picker-input>
                         <span class="input-group-addon">
                           <span class="glyphicon glyphicon-calendar"></span>
                         </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-1 col-md-offset-1">
            <button class="btn btn-primary" ng-disabled="newEmployeeForm.$invalid"  ng-click="finish(name, email, password, department, manager, role, hireDate)">Finish</button>
        </div>
    </div>

</form>