<div class="col-md-6 col-md-offset-3">
       <p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Department</th>
                <th>Email</th>
            </tr>
            </thead>
            <colgroup>
                <col class="col-md-2">
                <col class="col-md-2">
            </colgroup>
            <tbody ng-repeat="request in unapprovedRequests">
            <tr>
                <td>{{request.email}}</td>
                <td>{{request.dateFrom.$date | date}}</td>
                <td>{{request.dateTo.$date | date}}</td>
                <td><button class="btn btn-info" ng-click="approveRequest(request)">Approve</button></td>
            </tr>
            </tbody>
        </table>
        </p>
</div>
