<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Change Password</h3>
                </div>
                <div class="panel-body">
                    <form name="changePasswordForm">
                        <div class="form-group">
                            <input type="password" class="form-control" name="oldPassword" placeholder="Old password" ng-model="oldPassword" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="newPassword" placeholder="New password" ng-model="newPassword" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="confirmedPassword" placeholder="Confirm new password" ng-model="confirmedPassword" required
                                   ui-validate=" '$value==newPassword' "
                                   ui-validate-watch=" 'newPassword' "/>
                        </div>
                        <p ng-show="changePasswordForm.oldPassword.$dirty && changePasswordForm.confirmedPassword.$dirty && (oldPassword == confirmedPassword)" style="color:red; margin-right: 1em ">Old password and new password are identical! </p>
                        <p ng-show="changePasswordForm.confirmedPassword.$error.validator && changePasswordForm.confirmedPassword.$dirty && changePasswordForm.newPassword.$dirty" style="color:red; margin-right: 1em "> Password mismatch! </p>
                        <a href="#/login" ng-disabled="changePasswordForm.$invalid" class="btn btn-info btn-block" role="button" ng-click="changePassword(newPassword)">Change Password</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>