<div class="col-md-6 col-md-offset-3">
    <div ng-hide="insertingMode" >
        <p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Department</th>
                    <th>Role</th>
                    <th>Email</th>
                </tr>
                </thead>
                <colgroup>
                    <col class="col-md-2">
                    <col class="col-md-2">
                </colgroup>
                <tbody ng-repeat="employee in employees">
                <tr>
                    <td>{{employee.name}}</td>
                    <td>{{employee.department}}</td>
                    <td>{{employee.role}}</td>
                    <td>{{employee.email}}</td>
                    <td><button class="btn btn-info" ng-click="viewProfile(employee)">View Profile</button></td>
                    <td><button class="btn btn-danger" ng-click="removeProfile(employee)" ng-hide="currentUserRole">Remove user</button></td>
                </tr>
                </tbody>
            </table>
        </p>
    </div>
    <div ng-hide="currentUserRole">
        <button class="btn btn-primary" ng-click="addEmployee()" ng-hide="insertingMode"> Add employee </button>
    </div>
    <div ng-show="insertingMode">
        <br>
        <br>
        <ng-include src="'templates/addEmployee.html'"></ng-include>

    </div>

</div>
