<div>
    <div class="col-md-6 col-md-offset-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>DateFrom</th>
                <th>DateTo</th>
                <th>Approved</th>
            </tr>
            </thead>
            <colgroup>
                <col class="col-md-2">
                <col class="col-md-2">
            </colgroup>
            <tbody ng-repeat="leave in history">
            <tr>
                <td>{{leave.dateFrom.$date | date}}</td>
                <td>{{leave.dateTo.$date | date}}</td>
                <td>{{leave.approved}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-6 col-md-offset-3">
    <div ng-hide="newRequest">
        <button class="btn btn-primary" ng-click="addNewRequest()"> Add holiday request </button>
    </div>
</div>

<br/>
<div ng-show="newRequest">
    <div class="col-md-6 col-md-offset-3 alert alert-info">
        <div class="form-group col-sm-4">
            <p><b>Date from</b></p>
            <div class="col-sm-9">
                <div class="input-group date" ng-model="dateFrom" date-picker>
                    <input type="text" class="form-control netto-input"  ng-model="dateFrom" date-picker-input>
                    <span class="input-group-addon">
                       <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-4" >
            <p><b>Date to</b></p>
            <div class="col-sm-9">
                <div class="input-group date" ng-model="dateTo" date-picker>
                    <input type="text" class="form-control netto-input" ng-model="dateTo" date-picker-input>
                    <span class="input-group-addon">
                       <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                </div>
            </div>
            <button ng-click="getDate()"  class="btn btn-primary">Add</button>
        </div>

        <div>
            <p ng-hide="validRequest" style="color:red"><b>Date to</b> should be greater than <b>Date from</b></p>
        </div>

    </div>


</div>
