<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome back </h3>
                </div>
                <div class="panel-body">
                    <form name="loginForm">
                        <div class="form-group">
                            <input type="email" id="email" class="form-control " placeholder="Email" ng-model="email" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" id="userPassword" class="form-control" placeholder="Password" ng-model="password" required/>
                        </div>
                        <a href="#/login" ng-disabled="loginForm.$invalid"  class="btn btn-info btn-block" role="button" ng-click="userLogin(email, password)">Login</a>
                        <div ng-show="!loginValid" style="color:red">
                            Login failed. Please try again.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>