<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>You've been successfully logged out!</h3>
            </div>
            <div class="modal-footer">
                <button  class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>