<nav class="navbar navbar-default" role="navigation" ng-controller="MenuController" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">HrApp</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#/employees" ng-hide="show()">Employees</a> </li>
                <li><a href="#/profile" ng-hide="show()">Profile</a> </li>
                <li><a href="#/leave" ng-hide="show()"> Holidays </a></li><!--ng-hide="show()"-->
                <li><a href="#/administrative" ng-show="admin()">Administrative</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login" ng-show="show()"> Login </a></li>
                <li><a href="#/register" ng-show="show()"> Register </a></li>
                <li><a href="#/changePassword" ng-hide="show()"> Change Password </a></li>
                <li><a href="#/logout" ng-hide="show()" data-toggle="modal" data-target="#myModal"> Logout </a></li>
            </ul>
        </div>
    </div>
</nav>