<div class="container">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sign up </h3>
            </div>
            <form name="registerForm">
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text"  id="name" class="form-control" placeholder="Name" ng-model="name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" id="email" class="form-control" placeholder="Email Address" ng-model="email" required>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Password" ng-model="password" required>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="passwordConfirm" class="form-control" placeholder="Confirm Password" ng-model="passwordConfirm" required>
                            </div>
                        </div>
                        <p ng-show="userNameAlreadyExists" style="color:red; margin-left:1em; margin-right: 1em "> Email already registered. Please try another email address.</p>
                        <p ng-show="passwordMismatch" style="color:red; margin-left:1em; margin-right: 1em "> Password mismatch! </p>
                    </div>
                    <a href="#/register" ng-disabled="registerForm.$invalid" class="btn btn-info btn-block" role="button" ng-click="registerUser(name, email, password, passwordConfirm)">Please register</a>
                </div>
            </form>
        </div>
    </div>
