<div class="col-sm-offset-1">
    <h4><b>Name</b></h4>
    <h5>{{userProfile.name}}</h5>
    <h4><b>Email</b></h4>
    <h5>{{userProfile.email}}</h5>
    <h4><b>Role</b></h4>
    <h5>{{userProfile.role}}</h5>
    <h4><b>Manager</b></h4>
    <h5>{{userProfile.manager}}</h5>
    <h4><b>Hire date</b></h4>
    <h5>{{userProfile.hireDate.$date | date}}</h5>
</div>
